
<!-- ======= Header ======= -->
<header id="header" class=" fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">

      <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid w-100"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="#hero" >Home</a></li>
        <li><a href="#about" class="scrollto">Sobre</a></li>
        <li><a href="#cta" class="scrollto">Serviços</a></li>
        <li><a href="#portfolio" class="scrollto">Galeria</a></li>
        <li><a href="#footer" class="scrollto">Contato</a></li>
        <li><a class="getstarted  scrollto" href="#footer" title="Agendamento Manicure e Pedicure">Agendamento</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->


