<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <li data-filter="*" class="filter-active">Todos</li>
      <li data-filter=".filter-blindado">Blindado</li>
      <li data-filter=".filter-normal">Normal</li>
    </ul>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-normal">
        <div class="portfolio-img"><img src="assets/img/products/prod1_resized.jpeg" alt="esmaltaco normal" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Esmaltação Normal</h4>
          <p>Rosa</p>
          <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-normal">
        <div class="portfolio-img"><img src="assets/img/products/maga.jpeg" alt="esmaltaco normal" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Esmaltação Normal</h4>
          <p>Azul com Pérolas</p>
          <a href="assets/img/portfolio/portfolio-5.jpg filter-normal" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-blindado">
        <div class="portfolio-img"><img src="assets/img/products/prod1_blindado_resized.png" alt="esmaltaco blindada" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Esmaltação Com Blindagem</h4>
          <p>Preto</p>
          <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Portfolio Section -->
