<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" >
    <div class="section-title pt-5" data-aos="fade-in" data-aos-delay="200" >
      <h2>Sobre</h2>
    </div>

    <div class="row" data-aos="fade-in" data-aos-delay="200">

      <div class="col-md-6 mb-5 justify-content-center align-items-center d-flex flex-column">
        <img src="assets/img/about.jpg" class="img-fluid" alt="" style="border-radius: 100%;">
      </div>

      <div class="col-md-6  pt-lg-0 content">
        <h3>Studio Maga</h3>
        <p class="fst-italic">
          A Studio Maga, entende que cada detalhe é uma expressão de beleza e cuidado para as suas mãos. Nossa abordagem única garante unhas impecáveis e duradouras.
        </p>
        <ul>
          <li><i class="bx bx-check-double"></i> Realce sua beleza natural com nossa esmaltação normal de alta qualidade.</li>
          <li><i class="bx bx-check-double"></i> Experimente o toque suave e a durabilidade incomparável de nossos produtos.</li>
          <li><i class="bx bx-check-double"></i> Garantimos um serviço profissional, com atenção aos detalhes e resultados excepcionais.</li>
          <li><i class="bx bx-check-double"></i> Desfrute de unhas deslumbrantes que resistem ao desgaste diário, mantendo sua elegância.</li>
        </ul>
        <p>
          No Studio Maga, acreditamos que cada cliente merece a melhor experiência de esmaltação. Oferecemos um serviço excepcional que vai além do convencional, proporcionando resultados que você vai adorar. Agende sua esmaltação normal hoje e descubra a diferença que fazemos.
        </p>

        <div class="text-center mt-2"> <!-- Nova div para centralizar o botão -->
          <a class="getstarted  scrollto" href="#footer" title="Agendamento Manicure e Pedicure">Agendamento</a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End About Section -->
