<!-- ======= About Section ======= -->
<section id="cta" class="cta mt-3" title="Serviços de ">
  <div class="container" >

    <div class="row" data-aos="fade-in" data-aos-delay="200">

      <div class="col-lg-6 pt-3 pt-lg-0 content justify-content-center align-items-center d-flex flex-column" data-aos="fade-in" data-aos-delay="200">
        <h3>Serviço de Esmaltação Normal</h3>
        <p class="fst-italic">
          Desfrute de unhas impecáveis com nossa esmaltação normal no Studio Maga. Oferecemos um serviço dedicado para realçar a beleza natural das suas unhas.
        </p>

        <div class="text-center mt-2 mb-3"> <!-- Nova div para centralizar o botão -->
          <a class="getstarted" href="about.html" title="Agende agora o Serviço de Manicure e Pedicure">Agendamento de Manicure</a>
        </div>

      </div>

      <div class="col-lg-6 video-box align-self-baseline position-relative ">
        <img src="../../../assets/img/products/maga.jpeg" class="img-fluid" alt="Serviço de Manicure e Pedicure - Imagem da Unha Feita">
      </div>
    </div>

    <div class="row mt-2" data-aos="fade-in" data-aos-delay="200">

      <div class="col-lg-6 video-box align-self-baseline position-relative">
        <img src="../../../assets/img/products/prod1_blindado_resized.png" class="img-fluid" alt="Serviço de Blindagem em Unhas Naturais - Imagem do Unha blindada" title="Serviço de Blindagem em Unhas Naturais" aria-label="Imagem representativa do serviço de blindagem em unhas naturais">
      </div>

      <div class="col-lg-6 pt-3 pt-lg-0 content justify-content-center align-items-center d-flex flex-column" data-aos="fade-in" data-aos-delay="200">
        <h2>Serviço de Blindagem em Unhas Naturais</h2>
        <p class="fst-italic">
          Descubra a excelência em cuidado para suas unhas com nosso serviço exclusivo de blindagem. Nossa técnica avançada garante unhas impecáveis e duradouras.
        </p>
        <div class="text-center mt-2 mb-2">
          <a class="getstarted" href="about.html" title="Agende agora o Serviço de Blindagem em Unhas Naturais Manicure e Pedicure">Agende sua Blindagem</a>
        </div>
      </div>

    </div>
  </div>
</section><!-- End About Section -->
